<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/003J72744/Desktop/TestingAcademyAT/SeleniumIsha/JavaSeleniumNotes/Workspace/SeleniumComponents/src/test/java/tests/LoginFunctionalityTest.java"><classes><class name="tests.LoginFunctionalityTest"><methods><include name="validateLoginWithValidCredentials"/></methods></class></classes></test></suite>